<!-- ############################## <  VISTA LOGIN > #####################################-->
<!-- ############################## <  Login.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->

<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="icon" type="image/png" href="../img/k.ico" />
    <!--#################### ESTILOS GENERALES #########################-->
    {{template "styles_layout"}}
    <!--#################### TUS ESTILOS ###############################-->

    <!--#################### SCRIPTS GENERALES #########################-->
    {{template "scripts_layout"}}
    <!--#################### TUS SCRIPTS #########################-->
    <!--<script src="../../Locales/Configuracion/js/Configuracion.js"></script>-->
    <link rel="stylesheet" href="../../Locales/Configuracion/css/Configuracion.css">
    <!--#################### CABECERA #########################-->
    {{template "header_layout" . }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->

<body>
    {{template "menu_layout" }}

	<div class="container">

		<div class="page-header">
			<h1 class="etiquetaHeader">Administrar Usuarios</h1>
		</div>
 	<br>
	<br>
	<br>

</body>

<footer>

    {{template "footer_layout"}}

</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->

</html>