
<!-- ############################## <  VISTA DETALLE  > #####################################-->
<!-- ############################## <  GrupoDetalle.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->
		
<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->		        
    	<script src="../../Locales/Grupo/js/Grupo.js"></script>
<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}
	
	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}
			
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}
		{{end}}	

			<h1 class="text-center well">Detalle de Grupos</h1>
			<form id="Form_Detalle_Grupo" class="form-horizontal" method="POST">
					<input id="ID" name="ID" value="{{.Grupo.ID.Hex}}" hidden>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="Nombre">Nombre:</label>
							{{if .Grupo.ENombreGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Grupo.ENombreGrupo.Nombre}}" aria-required="true" aria-describedby="Nombre-error" aria-invalid="true" disabled>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Nombre-error" class="error help-block">{{.Grupo.ENombreGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Grupo.ENombreGrupo.Nombre}}" disabled>
								</div>  
							{{end}}
						</div>
					
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Descripcion">Descripcion:</label>
							{{if .Grupo.EDescripcionGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">

									<textarea class="form-control" rows="4" id="Descripcion" name="Descripcion" placeholder="Descripcion del Grupo..." 
									style="width: 100%" aria-required="true" aria-describedby="Descripcion-error" aria-invalid="true" disabled>{{.Grupo.EDescripcionGrupo.Descripcion}}</textarea>									
								
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Descripcion-error" class="error help-block">{{.Grupo.EDescripcionGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<textarea class="form-control" rows="4" id="Descripcion" name="Descripcion" placeholder="Descripcion del Grupo..." style="width: 100%" disabled>{{.Grupo.EDescripcionGrupo.Descripcion}}</textarea>
								</div>  
							{{end}}
						</div>
				
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Tipo">Tipo:</label>
							{{if .Grupo.ETipoGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<select id="Tipo" name="Tipo" class="form-control selectpicker" aria-required="true" aria-describedby="Tipo-error" aria-invalid="true" disabled>
										{{.Grupo.ETipoGrupo.Ihtml}}
									</select>  
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Tipo-error" class="error help-block">{{.Grupo.ETipoGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">									
									<select id="Tipo" name="Tipo" class="form-control selectpicker" disabled>
										{{.Grupo.ETipoGrupo.Ihtml}}
									</select>  
								</div>  
							{{end}}
						</div>
										
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Estatus">Estatus:</label>
							{{if .Grupo.EEstatusGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<select id="Estatus" name="Estatus" class="form-control selectpicker" aria-required="true" aria-describedby="Estatus-error" aria-invalid="true" disabled>
										{{.Grupo.EEstatusGrupo.Ihtml}}
									</select>  
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Estatus-error" class="error help-block">{{.Grupo.EEstatusGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">									
									<select id="Estatus" name="Estatus" class="form-control selectpicker" disabled>
										{{.Grupo.EEstatusGrupo.Ihtml}}
									</select>  
								</div>  
							{{end}}
						</div>
						
						<div class="form-group">
							<label class="col-sm-4 control-label" for="FechaHora">Fecha De Creación y/o Edición:</label>
							{{if .Grupo.EFechaHoraGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="FechaHora" id="FechaHora" class="form-control" value="{{.Grupo.EFechaHoraGrupo.FechaHora}}" aria-required="true" aria-describedby="FechaHora-error" aria-invalid="true" disabled>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="FechaHora-error" class="error help-block">{{.Grupo.EFechaHoraGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="FechaHora" id="FechaHora" class="form-control" value="{{.Grupo.EFechaHoraGrupo.FechaHora}}" disabled>
								</div>  
							{{end}}
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="FechaHora">Fechas De  Edición:</label>
							{{if .Grupo.EFechaEdicionGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									{{.Grupo.EFechaEdicionGrupo.Ihtml}}
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="FechaHora-error" class="error help-block">{{.Grupo.EFechaEdicionGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									{{.Grupo.EFechaEdicionGrupo.Ihtml}}
								</div>  
							{{end}}
						</div>
					
						<div class="row">
							<div class="col-md-1"></div>
          					<div class="col-md-10">
								<div class="panel">
									<div class="panel-heading">
            							<div class="row">
              								<h3 class="text-center">Elementos del Grupo</h3>
            							</div>
									</div>
									<div class="panel-body">                            

										<div class="row" style="padding:0 0 3% 3%;">
											<div  id="PaginacionBaseUp" class="text-center">
												{{.SIndex.SPaginacion}}
											</div>   
										</div>

										<div class="col-md-12">
											<div class="form-group">
												<table class="table table-responsive table-striped table-hover table-condenced table-bordered" id="TablaBase" disabled>
													<thead id="CabeceraBase">
														{{.SIndex.SCabecera}}
													</thead>

													<tbody id="BodyBase">
														{{.SIndex.SBody}}
													</tbody>
												</table>
											</div>           
											<div class="form-group row">   
												<div id="PaginacionBaseDown" class="text-center">
												{{.SIndex.SPaginacion}}
												</div>        
											</div>
										</div>

									</div>
								</div>           
          					</div>
							<div class="col-md-1"></div>
          				</div>

			
				<div class="form-group">
					<div class="col-md-9 text-right">
							<button type="button" onclick="window.location.href = '/Grupos';" class="btn btn-default btn-lg">Index</button>
							<button type="button" onclick="EditaGrupo('Detalle')" class="btn btn-primary btn-lg">Editar</button>
							<button type="button" onclick="window.location.href = '/Grupos/alta';" class="btn btn-success btn-lg">Nuevo Grupo</button>
					</div>
				</div>
		</form>
	</div>
</body>

<footer>

	{{template "footer_layout"}}
    
</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
