
<!-- ############################## <  VISTA EDITA > #####################################-->
<!-- ############################## <  GrupoEdita.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->
		
<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->		        
    	<script src="../../Locales/Grupo/js/Grupo.js"></script>
<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}
	
	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}
			
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}
		{{end}}	

			<h1 class="text-center well">Edición de Grupos</h1>
			<form id="Form_Alta_Grupo" class="form-horizontal" method="POST">
					<input id="ID" name="ID" value="{{.Grupo.ID.Hex}}" hidden>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="Nombre">Nombre:</label>
							{{if .Grupo.ENombreGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Grupo.ENombreGrupo.Nombre}}" aria-required="true" aria-describedby="Nombre-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Nombre-error" class="error help-block">{{.Grupo.ENombreGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Grupo.ENombreGrupo.Nombre}}">
								</div>  
							{{end}}
						</div>
					
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Descripcion">Descripcion:</label>
							{{if .Grupo.EDescripcionGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">

									<textarea class="form-control" rows="4" id="Descripcion" name="Descripcion" placeholder="Descripcion del Grupo..." 
									style="width: 100%" aria-required="true" aria-describedby="Descripcion-error" aria-invalid="true">{{.Grupo.EDescripcionGrupo.Descripcion}}</textarea>									
								
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Descripcion-error" class="error help-block">{{.Grupo.EDescripcionGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<textarea class="form-control" rows="4" id="Descripcion" name="Descripcion" placeholder="Descripcion del Grupo..." 
									style="width: 100%">{{.Grupo.EDescripcionGrupo.Descripcion}}</textarea>
								</div>  
							{{end}}
						</div>
					
						<!--<div class="form-group">
							<label class="col-sm-4 control-label" for="PermiteVender">PermiteVender:</label>
							{{if .Grupo.EPermiteVenderGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="radio" id="PermiteVender" name="PermiteVender" value="PermiteVender"  class="custom-control-input" aria-required="true" aria-describedby="PermiteVender-error" aria-invalid="true" {{.Grupo.EPermiteVenderGrupo.Ihtml}}>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="PermiteVender-error" class="error help-block">{{.Grupo.EPermiteVenderGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="checkbox" id="PermiteVender" name="PermiteVender" value="PermiteVender"  class="custom-control-input" {{.Grupo.EPermiteVenderGrupo.Ihtml}}>
								</div>  
							{{end}}
						</div>-->
					
							<div class="form-group">
								<label class="col-sm-4 control-label" for="Tipo">Tipo:</label>
								{{if .Grupo.ETipoGrupo.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
										<select id="Tipo" name="Tipo" class="form-control selectpicker" aria-required="true" aria-describedby="Tipo-error" aria-invalid="true">
											{{.Grupo.ETipoGrupo.Ihtml}}
										</select>  
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
										<em id="Tipo-error" class="error help-block">{{.Grupo.ETipoGrupo.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">									
										<select id="Tipo" name="Tipo" class="form-control selectpicker">
											{{.Grupo.ETipoGrupo.Ihtml}}
										</select>  
									</div>  
								{{end}}
							</div>
						
							<div class="form-group">
								<label class="col-sm-4 control-label" for="Estatus">Estatus:</label>
								{{if .Grupo.EEstatusGrupo.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
										<select id="Estatus" name="Estatus" class="form-control selectpicker" aria-required="true" aria-describedby="Estatus-error" aria-invalid="true">
											{{.Grupo.EEstatusGrupo.Ihtml}}
										</select>  
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
										<em id="Estatus-error" class="error help-block">{{.Grupo.EEstatusGrupo.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">									
										<select id="Estatus" name="Estatus" class="form-control selectpicker">
											{{.Grupo.EEstatusGrupo.Ihtml}}
										</select>  
									</div>  
								{{end}}
							</div>
						
						<!--<div class="form-group">
							<label class="col-sm-4 control-label" for="FechaHora">Fecha De Creación:</label>
							{{if .Grupo.EFechaHoraGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="FechaHora" id="FechaHora" class="form-control" value="{{.Grupo.EFechaHoraGrupo.FechaHora}}" aria-required="true" aria-describedby="FechaHora-error" aria-invalid="true" disabled>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="FechaHora-error" class="error help-block">{{.Grupo.EFechaHoraGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="FechaHora" id="FechaHora" class="form-control" value="{{.Grupo.EFechaHoraGrupo.FechaHora}}" disabled>
								</div>  
							{{end}}
						</div>-->

												<div class="form-group">
							<label class="col-sm-4 control-label" for="Miembros"></label>
							{{if .Grupo.EMiembrosGrupo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">									
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Miembros-error" class="error help-block">{{.Grupo.EMiembrosGrupo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">																		
								</div>  
							{{end}}
						</div>
					
											<div class="row well">
							<div class="col-md-1"></div>
          					<div class="col-md-10">
								<div class="panel">
									<div class="panel-heading">
            							<div class="row">
              								<h3 class="text-center">Elementos</h3>
            							</div>
									</div>
									<div class="panel-body">                       
                						<div class="input-group col-md-12">
                  							<input type="text" id="inputBuscaBase" name="textobase" class="form-control" placeholder="Buscar Elemento...">
                  							<span class="input-group-btn" onclick="ConsultaBase()">
                      							<a class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Buscar</a>
                    						</span>
												<span class="input-group-btn" onclick="TraeTodos()">
                      							<a class="btn btn-default">Ver Todos</a>
                    						</span>
												
										
                						</div>
		      
            							<br>
            							<div class="form-group row">
            							</div>
										<div class="row" style="padding:0 0 3% 3%;">
										<div  id="PaginacionBaseUp" class="text-center">{{.SIndex.SPaginacion}}</div>   
										</div>

										<div class="col-md-12">
											<div class="form-group">
												<table class="table table-responsive table-striped table-hover table-condenced table-bordered" id="TablaBase">
												<thead id="CabeceraBase">
													{{.SIndex.SCabecera}}
												</thead>
												<tbody id="BodyBase"  style="cursor: pointer;">
													{{.SIndex.SBody}}
												</tbody>
												</table>
											</div>           
											<div class="form-group row">   
												<div id="PaginacionBaseDown" class="text-center">{{.SIndex.SPaginacion}}</div>        
											</div>
										</div>
									</div>
								</div>           
          					</div>
							<div class="col-md-1"></div>
          				</div>

  						<input type="hidden" id='SkuSeleccionados' name="SkuSeleccionados"></input>


			<div class="form-group">			
				<div class="col-md-9 text-right">
					<button type="button" onclick="window.location.href = '/Grupos';" class="btn btn-default btn-lg">Index</button>
					<button type="submit" class="btn btn-primary btn-lg">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</body>

<footer>

	{{template "footer_layout"}}
    
</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
