
<!-- ############################## <  VISTA ALTA  > #####################################-->
<!-- ############################## <  UsuarioAlta.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->		
	<link rel="stylesheet" href="/Plugins/Kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/Plugins/Kendo/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="/Plugins/Kendo/styles/kendo.default.mobile.min.css" />
<!--#################### CABECERA #########################-->
<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->		        
	<script src="../../Locales/Usuario/js/Usuario.js"></script>		
	<script src="/Plugins/Kendo/js/kendo.all.min.js" type="text/javascript" ></script>
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}
	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}
			
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}
		{{end}}	

			<h1>Detalle de Usuarios</h1>
			<form id="Form_Alta_Usuario" class="form-horizontal" method="POST">
				<input type="text" id="ID" name="IDname" hidden="true" value="{{.Usuario.ID.Hex}}">

							<div class="form-group">	
								<label class="col-sm-4 control-label" for="Nombre">Nombre:</label>
								
								{{if .Usuario.EPersonaUsuario.ENombrePersona.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
									
										<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Usuario.EPersonaUsuario.ENombrePersona.Nombre}}" aria-required="true" aria-describedby="Nombre-error" aria-invalid="true" readonly>
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
																				
										<em id="Nombre-error" class="error help-block">{{.Usuario.EPersonaUsuario.ENombrePersona.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">
															
										<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Usuario.EPersonaUsuario.ENombrePersona.Nombre}}" readonly>
									</div>  
								{{end}}
							</div>
						
							<div class="form-group">
								<label class="col-sm-4 control-label" for="Tipo">Tipo:</label>
								
								{{if .Usuario.EPersonaUsuario.ETipoPersona.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
									
										<select id="Tipo" name="Tipo" class="form-control selectpicker" multiple="multiple" aria-required="true" aria-describedby="Tipo-error" aria-invalid="true" disabled>
												{{.Usuario.EPersonaUsuario.ETipoPersona.Ihtml}}
										</select>  										
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
																				
										<em id="Tipo-error" class="error help-block">{{.Usuario.EPersonaUsuario.ETipoPersona.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">
															
										<select id="Tipo" name="Tipo" class="form-control selectpicker"  multiple="multiple" data-placeholder="Selecciona el tipo de Usuario..." disabled>
											{{.Usuario.EPersonaUsuario.ETipoPersona.Ihtml}}
										</select> 
									</div>  
								{{end}}
							</div>
						
							<div class="form-group">
								<label class="col-sm-4 control-label" for="Grupos">Grupos:</label>
								
								{{if .Usuario.EPersonaUsuario.EGruposPersona.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
									
										<select id="Grupos" name="Grupos" multiple="multiple" class="form-control selectpicker" aria-required="true" aria-describedby="Grupos-error" aria-invalid="true" disabled>
												{{.Usuario.EPersonaUsuario.EGruposPersona.Ihtml}}
										</select>  										
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
																				
										<em id="Grupos-error" class="error help-block">{{.Usuario.EPersonaUsuario.EGruposPersona.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">
															
										<select id="Grupos" name="Grupos" multiple="multiple" class="form-control selectpicker" data-placeholder="Selecciona los Grupos..." disabled>
											{{.Usuario.EPersonaUsuario.EGruposPersona.Ihtml}}
										</select> 
									</div>  
								{{end}}
							</div>
						
							<div class="form-group">
								<label class="col-sm-4 control-label" for="Predecesor">Predecesor:</label>
								
								{{if .Usuario.EPersonaUsuario.EPredecesorPersona.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
									
										<select id="Predecesor" name="Predecesor" class="form-control selectpicker" aria-required="true" aria-describedby="Predecesor-error" aria-invalid="true" disabled>
												{{.Usuario.EPersonaUsuario.EPredecesorPersona.Ihtml}}
										</select>  										
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
																				
										<em id="Predecesor-error" class="error help-block">{{.Usuario.EPersonaUsuario.EPredecesorPersona.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">
															
										<select id="Predecesor" name="Predecesor" class="form-control selectpicker" disabled>
											{{.Usuario.EPersonaUsuario.EPredecesorPersona.Ihtml}}
										</select> 
									</div>  
								{{end}}
							</div>



						<div class="form-group">
							<label class="col-sm-4 control-label" for="Usuario">Usuario:</label>
							{{if .Usuario.EUsuarioUsuario.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Usuario" id="Usuario" class="form-control" value="{{.Usuario.EUsuarioUsuario.Usuario}}" aria-required="true" aria-describedby="Usuario-error" aria-invalid="true" readonly>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Usuario-error" class="error help-block">{{.Usuario.EUsuarioUsuario.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Usuario" id="Usuario" class="form-control" value="{{.Usuario.EUsuarioUsuario.Usuario}}" readonly>
								</div>  
							{{end}}
						</div>
					

							 <!--FIN DE LAS NUEVAS CREDENCIALES-->
					
							<div class="form-group">
								<label class="col-sm-4 control-label" for="Cajas">Cajas:</label>
								{{if .Usuario.ECajasUsuario.IEstatus}}
									<div class="col-sm-5 has-feedback has-error">
										<select id="Cajas" name="Cajas" multiple="multiple" class="form-control selectpicker" aria-required="true" aria-describedby="Cajas-error" aria-invalid="true" disabled>
											{{.Usuario.ECajasUsuario.Ihtml}}
										</select>  
										<span class="glyphicon form-control-feedback glyphicon-remove"></span>
										<em id="Cajas-error" class="error help-block">{{.Usuario.ECajasUsuario.IMsj}}</em>
									</div>
								{{else}}
									<div class="col-sm-5">									
										<select id="Cajas" name="Cajas" multiple="multiple" class="form-control selectpicker" data-placeholder="Selecciona las Cajas..." disabled>
											{{.Usuario.ECajasUsuario.Ihtml}}
										</select>  
									</div>  
								{{end}}
							</div>	
							
						
						<div class="col-sm-12">
							<div class="col-sm-4">
							<input type="text" name="CorreoPrincipal" id="CorreoPrincipal" value="{{.Usuario.EMediosDeContactoUsuario.ECorreos.Principal}}" hidden>
								<div class="col-sm-12 table-responsive container" id="div_tabla_correos">
									<table class="table table-condensed table-hover">
										<thead class="thead-inverse">
											<tr>
												<th>Principal</th>
												<th>Correos</th>
											</tr>
										</thead>
										<tbody id="tbody_etiquetas_correos">
											{{.Usuario.EMediosDeContactoUsuario.ECorreos.Ihtml}}
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="col-sm-4">
								<input type="text" name="TelefonoPrincipal" id="TelefonoPrincipal" value="{{.Usuario.EMediosDeContactoUsuario.ETelefonos.Principal}}" hidden>
								<div class="col-sm-12 table-responsive container" id="div_tabla_telefonos">
									<table class="table table-condensed table-hover">
										<thead class="thead-inverse">
											<tr>
												<th>Principal</th>
												<th>Telefonos</th>
											</tr>
										</thead>
										<tbody id="tbody_etiquetas_telefonos">
											{{.Usuario.EMediosDeContactoUsuario.ETelefonos.Ihtml}}
										</tbody>
									</table>
								</div>								
							</div>	

							<div class="col-sm-4">
								<div class="col-sm-12 table-responsive container" id="div_tabla_otros">
									<table class="table table-condensed table-hover">
										<thead class="thead-inverse">
											<tr>
												<th>Otros</th>
											</tr>
										</thead>
										<tbody id="tbody_etiquetas_otros">
											{{.Usuario.EMediosDeContactoUsuario.EOtrosMedios.Ihtml}}
										</tbody>
									</table>
								</div>
							</div>					
							
						</div>
						
							

			
				<div class="form-group">
					<div class="col-md-9 text-right">
						<button type="button" onclick="window.location.href = '/Usuarios';" class="btn btn-default btn-lg">Index</button>
							<button type="button" onclick="EditaUsuario('Detalle')" class="btn btn-primary btn-lg">Edita</button>
							<button type="button" onclick="window.location.href = '/Usuarios/alta';" class="btn btn-success btn-lg">Nuevo</button>
					</div>
				</div>
		</form>
	</div>
</body>

<footer>

	{{template "footer_layout"}}
    
</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
